@use "./Config.scss" as *;
@import "./Reset";
@import "./ckeditor";
// @import "./article";

html, body {
	font-family: "Segoe UI", sans-serif;
	background-color: #1e1e1e;
	// background-color: #474758;
	height: 100vh;
}

html {
	overflow: hidden;
}

body {
	height: 100vh;
	overflow: auto;
}

.ck-editor {
	// height: inherit;
	height: 100%;
	// display: flex;
	// flex-direction: column;
	display: grid;
	grid-template-rows: auto 1fr;

	font-family: $Font-Persian;

	color: white;

}

.ck.ck-reset {
	height: 100% !important;
	// max-height: inherit;
}

.ck-content, .ck-source-editing-area {
	height: 100% !important;
	// max-height: inherit;
	max-height: 89vh;
	overflow: scroll;
}
.ck-source-editing-area {
	max-height: 84vh;
	overflow: auto;
}
.ck-editor__editable {
	height: 100% !important;
	// min-height: 70vh;
	// max-height: inherit;
}
.ck-editor__main {
	height: 100% !important;
	display: flex;
	flex-direction: column;
}
.ck-source-editing-area textarea {
	font-family: Consolas, "Vazir Code", monospace !important;
}

.ck-powered-by {
	display: none !important;
}

.ck-source-editing-area textarea {
	background-color: #1e1e1e;
	color: white;
	padding-bottom: 50px;
	line-height: 1;
}
