@import "./Reset";
// @import "./article";

html, body {
	font-family: "Segoe UI", sans-serif;
	background-color: #1e1e1e;
	// background-color: #474758;
	height: 100vh;
}

html {
	overflow: hidden;
}

body {
	height: 100vh;
	overflow: auto;
}

.ck-editor {
	// height: inherit;
	// max-height: inherit;
	height: 100%;
	// display: flex;
	// flex-direction: column;
	display: grid;
	grid-template-rows: auto 1fr;
}

.ck.ck-reset {
	height: 100% !important;
	// max-height: inherit;
}

.ck-content {
	height: 100% !important;
	// max-height: inherit;
	overflow: scroll;
}
.ck-editor__editable {
	height: 100% !important;
	// min-height: 70vh;
	// max-height: inherit;
}
.ck-editor__main {
	height: 100% !important;
	display: flex;
	flex-direction: column;
}
.ck-source-editing-area textarea {
	font-family: Consolas, "Vazir Code", monospace !important;
}
